# Server
PORT=5001
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://thakuraksingh1_db_user:ecJxKnTteCMFEyAn@wingai.dyioqj4.mongodb.net/wingai?retryWrites=true&w=majority


# JWT
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173
